
/* body*/ 

.topo-pagcarro{
    background: gray;
    width: 100%;
    height: 250px;
    position: relative;
}

.topo-img{
    background-image: url("img/bmw-hrv.png");
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    width: 100%;
    height: 100%;
}
.card-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.7; 
    padding:90px 30px 0px 30px;
    
}

/*carrossel de imagens*/

.content-pag {
    height: 533px;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 80%;
    left: 25%;
    transform:  translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.navi {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
}

.navi:hover {
    background-color:white;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    transition: .8s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}
#slide5:checked ~ .s1 {
    margin-left: -80%;
}


/*card de informações*/

.carro-info {
    display: flex;
    justify-content: end;
    margin: 91px 30px;
}

.info {
    width: 800px;
    height: 533px;
    margin: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);; 
    background-color: transparent;  
}

#info-titulo {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.info__texto {
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #383838;
    margin: 9px;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #747373;
    border: 2px solid black;
    border-radius: 5px;
}

#valor-carro {
    margin-top: 1em;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
}